<!DOCTYPE html>
<html>
<head>
    <title>Ian W. Nelson</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="https://fonts.googleapis.com/css?family=Graduate|Slabo+27px" rel="stylesheet">
    <meta charset="utf-8">
</head>
<body>
    <article class="container">
        <div class="row">
            <h1 class="col-md-12 header text-center">&#10686; ianwnelson.com &#10686;</h1>
            <div class="col-md-12 break space"></div>
    <!--         <h3 class="col-md-12">Mission:</h3>
            <h4 class="col-md-12">Client facing opportunity with an organizatin valuing innovation.</h4> -->
            <div class="col-md-12">
                <center><iframe src="https://player.vimeo.com/video/209132383?autoplay=1&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></center>
            </div>
        </div>

        <!-- Trigger the modal with a button -->
        <div class="row">
            <div class="col-xs-6 space">
                <center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#resume">R&eacute;sum&eacute;</button></center>
            </div>

            <div class="col-xs-6 space">
                <center><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#contact">Contact Ian</button></center>
            </div>

            <!-- Modals -->
            <div id="resume" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ian W. Nelson EIT</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                        <h4 class="col-md-12"><u>ENGINEERING INDUSTRY EXPERIENCE</u></h4>
                    </div>
                    <div class="row">
                        <h5 class="col-md-9"><b>Civil Engineer</b> – <em>Dewberry</em>, New York, NY</h5>
                        <p class="col-md-3">March 2016 – Present</p>
                        <ul class="col-md-12">
                            <li class="list-group-item">Worked extensively on NYCDDC projects both as a designer and as representative during utility coordination</li>
                            <li class="list-group-item">Managed projects for private utility clients and continually found creative solutions to meet client needs</li>
                            <li class="list-group-item">Quickly learned and became key contributor to NYCDEP Green Infrastructure projects</li>
                            <li class="list-group-item">Facilitated interagency coordination for various public and private clients and subcontractors to meet project goals</li>
                            <li class="list-group-item">Developed fluency in Autodesk suite, including AutoCAD, Civil 3D, and AutoTURN as well as GIS</li>
                        </ul>
                    </div>

                    <div class="row">
                        <h5 class="col-md-9"><b>Purchaser &amp; Cost Estimator </b> – <em>Triton Construction</em>, New York, NY</h5>
                        <p class="col-md-3">April 2013 – July 2014</p>
                        <ul class="col-md-12">
                            <li class="list-group-item">Developed full estimates and lead purchasing process for high profile projects</li>
                            <li class="list-group-item">Demonstrated autonomy in learning new technical skills and completing complex tasks</li>
                            <li class="list-group-item">Managed subcontracts from financial and technical standpoints</li>
                        </ul>
                    </div>

                    <div class="row">
                        <h5 class="col-md-9"><b>Field Engineer</b> – <em>Hazen &amp; Sawyer</em>, New York, NY</h5>
                        <p class="col-md-3">August 2012 - April 2013</p>
                        <ul class="col-md-12">
                            <li class="list-group-item">Responsible process analysis to optimize efficiency at several newly upgraded NYC wastewater treatment plants</li>
                            <li class="list-group-item">Worked effectively with NYC DEP and other engineering firms</li>
                        </ul>
                    </div>

                    <div class="row">
                        <h4 class="col-md-12"><u>SKILLS</u></h4>
                        <p class="col-md-12"><b>Soft Skills: </b>Growth mindset, strong oral and written communication skills, success in team environments</p>
                        <p class="col-md-12"><b>Technical Skills: </b>Specification writing, software expertise including Microsoft Office, Autodesk, et al.</p>
                    </div>

                    <div class="row">
                        <h4 class="col-md-12"><u>OTHER PROFESSIONAL EXPERIENCE</u></h4>
                    </div>
                    <div class="row">
                        <h5 class="col-md-9"><b>Physics &amp; Chemistry Teacher</b> – <em>KIPP NYC College Prep High School</em>, Bronx, NY</h5>
                        <p class="col-md-3">July 2014 – January 2015</p>
                        <ul class="col-md-12">
                            <li class="list-group-item">Awarded KIPP Empire Fellowship</li>
                            <li class="list-group-item">Actively worked to empower economically disadvantaged area through education and social action</li>
                            <li class="list-group-item">Taught Regents Physics, Regents Chemistry, and Physical Science courses to students with special education needs</li>
                        </ul>
                    </div>

                    <div class="row">
                        <h4 class="col-md-12"><u>EDUCATION</u></h4>
                    </div>
                    <div class="row">
                        <h5 class="col-md-12"><b>Manhattan College School of Engineering, </b><em>Riverdale, NY</em></h5>
                        <p class="col-md-12"><u>Master of Science in Civil Engineering</u></p>
                        <p class="col-md-12">Degree conferred in May 2014</p>
                        <p class="col-md-12">Cumulative GPA: <b>3.36/4.00</b></p>

                        <p class="col-md-12"><u>Bachelor of Science in Civil Engineering</u></p>
                        <p class="col-md-12">Degree conferred in May 2012</p>
                        <p class="col-md-12">Cumulative GPA: <b>3.32/4.00</b></p>

                        <p class="col-md-12"><em>Honors: </em>Winner of 2011 Mead Essay Contest &amp; Presentation – ASCE Met Section, Deans List, Member of Chi Epsilon</p>
                    </div>

                    <div class="row">
                        <h5 class="col-md-12"><b>Relay Graduate School of Educations, </b><em>New Yorl, NY</em></h5>
                        <p class="col-md-12"><u>Master of Arts in Teaching</u></p>
                        <p class="col-md-12">Cumulative GPA: <b>3.70/4.00</b></p>
                        <p class="col-md-12"><em>Honors: </em>: Recipient of AmeriCorps Segal Grant, Deans List</p>
                        <p class="col-md-12">Degree not completed</p>
                    </div>

                    <div class="row">
                        <h5 class="col-md-12"><b>Continuing Education</b></h5>
                        <ul class="col-md-12">
                            <li class="list-group-item">Full Stack Web Developer Nanodegree, <em>Udacity</em></li>
                            <li class="list-group-item">Digital Marketing Nanodegree, <em>Udacity</em></li>
                            <li class="list-group-item">Developing bilingual proficiency in Spanish</li>
                        </ul>
                    </div>

                    <div class="row">
                        <h4 class="col-md-12"><u>LEADERSHIP EXPERIENCE</u></h4>
                    </div>
                    <div class="row">
                        <h5 class="col-md-9"><b>Vice President for Social Life</b> – <em>Manhattan College Student Government</em>, Riverdale, NY</h5>
                        <p class="col-md-3">Spring 2011 – May 2012</p>
                        <ul class="col-md-12">
                            <li class="list-group-item">Managed a $300,000+ budget to plan events for entire student body</li>
                            <li class="list-group-item">Gained valuable experiencing leading a team to plan and execute events and programs and represent student interest</li>
                            <li class="list-group-item">Demonstrated ability to negotiate contracts and deal with many outside businesses as a representative of college</li>
                        </ul>
                    </div>

                    <div class="row">
                        <h5 class="col-md-9"><b>Resident Assistant</b> – <em>Manhattan College Residence Life</em>, Riverdale, NY</h5>
                        <p class="col-md-3">Fall 2010 – May 2012</p>
                        <ul class="col-md-12">
                            <li class="list-group-item">Supervised a community of over 400 students</li>
                            <li class="list-group-item">Charged with building a community atmosphere, mentoring students, and ensuring safety</li>
                        </ul>
                    </div>

                    <div class="row">
                        <h5 class="col-md-9"><b>ASCE Vice President</b> – <em>Manhattan College Chapter</em>, Riverdale, NY</h5>
                        <p class="col-md-3">Fall 2010 – Spring 2012</p>
                        <ul class="col-md-12">
                            <li class="list-group-item">Managed Manhattan College chapter, aided in professional development of members, and orchestrated fundraising</li>
                            <li class="list-group-item">Winner of 2011 Mead Essay Contest and Presentation – ASCE Met Section</li>
                        </ul>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>


            <div id="contact" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Contact Ian</h4>
                  </div>
                  <div class="modal-body">
                    <p><u>Ian Nelson</u></p>
                    <p>Email: <a href="ianwalshnelson@gmail.com">ianwashnelson@gmail.com</a></p>
                    <p>Cell: (561) 373-9102</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
        </div>
        <div class="row space">
            <h4 class="col-md-12 text-center">Links: <a href="https://www.linkedin.com/in/ian-nelson-b41a1823/">LinkedIn</a> &#10686; <a href="https://drive.google.com/open?id=0B7vtEukEq4SNMVBQUzdoZ183djg">R&eacute;sum&eacute; (pdf)</a></h4>
        </div>

        <div class="row space">
            <div class="col-md-12 break"></div>
        </div>
    </article>
</body>
</html>
